/*Banner Imagem*/
.banner-imagem{
    width: 100%;                    /*Ocupa 100% da tela*/
    background-repeat: no-repeat;   /*Nao repete*/
    background-position: center;    /*Alinhada no Centro*/
    background-size: cover;         /*Preenche todo espaco*/
}

/*Responsivo*/
@media screen and (min-width: 0){
    .banner-imagem{
        height: calc(100vh - 51px); /*Altura da Imagem*/
    }
}

@media screen and (min-width: 768px){
    .banner-imagem{
        height: calc(100vh - 82px);   /*Ocupa 100% de altura - 82px*/
    }
}